<h1>Lista Ogłoszeń</h1>

<table>
  <tr>
    <th>Obrazek</th>
    <th>Nazwa</th>
    <th>Cena</th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><img src="<%= ad.img_url %>" alt="" /></td>
    <td><%= ad.name %></td>
    <td><%= ad.price %> zł</td>
    <td><%= link_to 'Pokarz', ad %></td>
    <td><%= link_to 'Edytuj', edit_ad_path(ad) %></td>
    <td><%= link_to 'Usuń', ad, :confirm => 'Czy napewno chcesz usunąć ogłoszenie?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


